.orgSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_orgSection{
    color: #6278F7;
    font-size: 32px;
    font-weight: 400;
    padding: 24px;
    border-bottom: 4px solid #6278F7;
}

.orgSection img{
    width: 6%;
    position: absolute;
    right: 30%;
    cursor: pointer;
}

@media(max-width: 768px){
    .orgSection img{
        width: 10%;
        right: 20%;
    }
}
@media(max-width: 480px){
    .orgSection img{
        width: 15%;
        right: 9%;
    }
}